@{
    ViewBag.Title = "Where to stay";

}
@{
    ViewBag.Message = "Where to Stay";
    ViewBag.Message1 = "Hotel Behar";
    ViewBag.Message2 = "Casablanca";
    ViewBag.Message3 = "Pansion Drinska Bašta";
    ViewBag.Message4 = "Motel Bazeni";
    ViewBag.Message5 = "Amaro";
    ViewBag.Message6 = "Pansion Baša";
    ViewBag.Message7 = "Bijele Vode";
    ViewBag.Message8 = "Pansion //////";
}
<!-- ======== CAROUSEL =========-->

@*<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">

    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
                <hgroup>
                    <h1 class="white">Lodging</h1>
                    <h3 class="white">Enjoy your stay</h3>
                    <h5 class="white">Click on Learn more, for more information</h5>
                </hgroup>
                <form style="display: inline" action="http://drinago.azurewebsites.net/Home/Notice" method="get">
                    <button class="btn btn-hero btn-lg" role="button">Learn more</button>
                </form>
            </div>
        </div>
    </div>
</div>*@

<!-- ========= END OF CAROUSEL ========== -->

<div class="sadrzaj">
    <h3>@ViewBag.Message</h3>
    <hr />
    <h4>Idea for showing place to stay, goes like this, text below is just an example:</h4>
    <p>
        Few sentences about place of interest no more than, three or four, if the place is for example hotel, include things like:
        <ul>
            <li>How many rooms does it have?</li>
            <li>How much money does it cost to rent a room for a night, two, three?</li>
            <li>Do they serve breakfast, lunch, dinner?</li>
            <li>Include the amount of seats, include the menu, do they have specials?</li>
            <li>Include working hours, does it have WIFI etc.</li>
            <li>Include few pictures, or just one, then when users click on Learn more button, take them to a new page with more detailed information about the place.</li>
        </ul>
    </p>
    <form style="display: inline" action="http://drinago.azurewebsites.net/Home/Notice" method="get">
        <button class="btn btn-hero btn-lg" role="button">Learn more</button>
    </form>
</div>
<br />
<div class="fontvelicina">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h4 align="center">@ViewBag.Message1</h4>
                <hr />
                <p align="justify">
                    <img class="img-responsive center-block" src="http://i.imgur.com/2hAJxMV.jpg" />
                    <br />
                    How many rooms does it have?
                    How much money does it cost to rent a room for a night, two, three?
                    Do they serve breakfast, lunch, dinner?
                    Include the amount of seats, include the menu, do they have specials?
                    Include working hours, does it have WIFI etc.
                    <br />
                </p>
                <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
            </div>
            <div class="col-md-3">
                <h4 align="center">@ViewBag.Message2</h4>
                <hr />
                <p align="justify">
                    <img class="img-responsive center-block" src="http://i.imgur.com/62eDcbs.jpg" />
                    <br />
                    How many rooms does it have?
                    How much money does it cost to rent a room for a night, two, three?
                    Do they serve breakfast, lunch, dinner?
                    Include the amount of seats, include the menu, do they have specials?
                    Include working hours, does it have WIFI etc.
                    <br />
                </p>
                <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
            </div>
            <div class="col-md-3">
                <h4 align="center">@ViewBag.Message3</h4>
                <hr />
                <p align="justify">
                    <img class="img-responsive center-block" src="http://i.imgur.com/IitkXgH.jpg" />
                    <br />
                    How many rooms does it have?
                    How much money does it cost to rent a room for a night, two, three?
                    Do they serve breakfast, lunch, dinner?
                    Include the amount of seats, include the menu, do they have specials?
                    Include working hours, does it have WIFI etc.
                    <br />
                </p>
                <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
            </div>
            <div class="col-md-3">
                <h4 align="center">@ViewBag.Message4</h4>
                <hr />
                <p align="justify">
                    <img class="img-responsive center-block" src="http://i.imgur.com/2hAJxMV.jpg" />
                    <br />
                    How many rooms does it have?
                    How much money does it cost to rent a room for a night, two, three?
                    Do they serve breakfast, lunch, dinner?
                    Include the amount of seats, include the menu, do they have specials?
                    Include working hours, does it have WIFI etc.
                    <br />
                </p>
                <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
            </div>
        </div>
    </div>
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h4 align="center">@ViewBag.Message5</h4>
                <hr />
                <p align="justify">
                    <img class="img-responsive center-block" src="http://i.imgur.com/2hAJxMV.jpg" />
                    <br />
                    How many rooms does it have?
                    How much money does it cost to rent a room for a night, two, three?
                    Do they serve breakfast, lunch, dinner?
                    Include the amount of seats, include the menu, do they have specials?
                    Include working hours, does it have WIFI etc.
                    <br />
                </p>
                <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
            </div>
            <div class="col-md-3">
                <h4 align="center">@ViewBag.Message6</h4>
                <hr />
                <p align="justify">
                    <img class="img-responsive center-block" src="http://i.imgur.com/62eDcbs.jpg" />
                    <br />
                    How many rooms does it have?
                    How much money does it cost to rent a room for a night, two, three?
                    Do they serve breakfast, lunch, dinner?
                    Include the amount of seats, include the menu, do they have specials?
                    Include working hours, does it have WIFI etc.
                    <br />
                </p>
                <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
            </div>
            <div class="col-md-3">
                <h4 align="center">@ViewBag.Message7</h4>
                <hr />
                <p align="justify">
                    <img class="img-responsive center-block" src="http://i.imgur.com/IitkXgH.jpg" />
                    <br />
                    How many rooms does it have?
                    How much money does it cost to rent a room for a night, two, three?
                    Do they serve breakfast, lunch, dinner?
                    Include the amount of seats, include the menu, do they have specials?
                    Include working hours, does it have WIFI etc.
                    <br />
                </p>
                <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/">Learn more</a></p>
            </div>
            <div class="col-md-3">
                <h4 align="center">@ViewBag.Message8</h4>
                <hr />
                <p align="justify">
                    <img class="img-responsive center-block" src="http://i.imgur.com/2hAJxMV.jpg" />
                    <br />
                    How many rooms does it have?
                    How much money does it cost to rent a room for a night, two, three?
                    Do they serve breakfast, lunch, dinner?
                    Include the amount of seats, include the menu, do they have specials?
                    Include working hours, does it have WIFI etc.
                    <br />
                </p>
                <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Notice">Learn more</a></p>
            </div>
        </div>
    </div>
</div>

<!--<div class="sadrzaj">
    <h3>@ViewBag.Message1</h3>
    <hr />
    <p>
        Follow the guidlines already written.
        <img class="img-thumbnail" src="https://placeimg.com/1120/480/tech" />
    </p>
</div>
<br />
<div class="sadrzaj">
    <h3>@ViewBag.Message2</h3>
    <hr />
    <p>
        Follow the guidlines already written.
        <img class="img-thumbnail" src="https://placeimg.com/1120/480/tech" />
    </p>
</div>
<br />
<div class="sadrzaj">
    <h3>@ViewBag.Message3</h3>
    <hr />
    <p>
        Follow the guidlines already written.
        <img class="img-thumbnail" src="https://placeimg.com/1120/480/tech" />
    </p>
</div>
<br />
<div class="sadrzaj">
    <h3>@ViewBag.Message4</h3>
    <hr />
    <p>
        Follow the guidlines already written.
        <img class="img-thumbnail" src="https://placeimg.com/1120/480/tech" />
    </p>
</div>
<br />
<div class="sadrzaj">
    <h3>@ViewBag.Message5</h3>
    <hr />
    <p>
        Follow the guidlines already written.
        <img class="img-thumbnail" src="https://placeimg.com/1120/480/tech" />
    </p>
</div>
<br />
<div class="sadrzaj">
    <h3>@ViewBag.Message6</h3>
    <hr />
    <p>
        Follow the guidlines already written.
        <img class="img-thumbnail" src="https://placeimg.com/1120/480/tech" />
    </p>
</div>
<br />
<div class="sadrzaj">
    <h3>@ViewBag.Message7</h3>
    <hr />
    <p>
        Follow the guidlines already written.
        <img class="img-thumbnail" src="https://placeimg.com/1120/480/tech" />
    </p>
</div>
<br />

    -->

