@{
    ViewBag.Title = "Food and Drink";

}
<!-- ======== CAROUSEL ========= -->
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <!--<li data-target="#bs-carousel" data-slide-to="2"></li>-->
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-4"></div>
            <div class="hero">
                <hgroup>
                    <h1>Food & Drink</h1>
                    <h3>Enjoy the best food and drink</h3>
                </hgroup>
                <form style="display: inline" action="http://drinago.azurewebsites.net/Home/Info" method="get">
                    <button class="btn btn-hero btn-lg" role="button">Explore more</button>
                </form>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-5"></div>
            <div class="hero">
                <hgroup>
                    <h1>Featured place!</h1>
                    <h3>Description of featured place</h3>
                </hgroup>
                <form style="display: inline" action="http://drinago.azurewebsites.net/Home/Info" method="get">
                    <button class="btn btn-hero btn-lg" role="button">Learn more</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- ======== END OF CAROUSEL ========= -->

<br />

<section>

    <div class="container-fluid">
        <div class="row" style="display:flex; flex-wrap: wrap;">
            <div class="col-md-12">
                <h4 align="center">@ViewBag.Message1</h4>
                <hr />
                <p align="justify">
                    <img class="img-responsive center-block" src="https://placeimg.com/1100/380/arch" style="height:350px" width="1100" />
                    <br />
                    Add more information about this place, more photos, phone number, amount of seats, rooms, menu.
                </p>
                <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Info">Learn more</a></p>
            </div>
        </div>
    </div>

    <hr />

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 align="center">@ViewBag.Message2</h4>
                <hr />
                <p align="justify">
                    <img class="img-responsive center-block" src="https://placeimg.com/1100/380/arch" style="height:350px" width="1100" />
                    <br />
                    Add more information about this place, more photos, phone number, amount of seats, rooms, menu.
                </p>
                <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Info">Learn more</a></p>
            </div>
        </div>
    </div>

    <hr />

    <div class="container-fluid">
        <div class="row" style="display:flex; flex-wrap: wrap;">
            <div class="col-md-12">
                <h4 align="center">@ViewBag.Message3</h4>
                <hr />
                <p align="justify">
                    <img class="img-responsive center-block" src="https://placeimg.com/1100/380/arch" style="height:350px" width="1100" />
                    <br />
                    Add more information about this place, more photos, phone number, amount of seats, rooms, menu.
                </p>
                <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Info">Learn more</a></p>
            </div>
        </div>
    </div>

    <hr />

    <div class="container-fluid">
        <div class="row" style="display:flex; flex-wrap: wrap;">
            <div class="col-md-12">
                <h4 align="center">@ViewBag.Message4</h4>
                <hr />
                <p align="justify">
                    <img class="img-responsive center-block" src="https://placeimg.com/1100/380/arch" style="height:350px" width="1100" />
                    <br />
                    Add more information about this place, more photos, phone number, amount of seats, rooms, menu.
                </p>
                <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Info">Learn more</a></p>
            </div>
        </div>
    </div>

    <hr />

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 align="center">@ViewBag.Message5</h4>
                <hr />
                <p align="justify">
                    <img class="img-responsive center-block" src="https://placeimg.com/1100/380/arch" style="height:350px" width="1100" />
                    <br />
                    Add more information about this place, more photos, phone number, amount of seats, rooms, menu.
                </p>
                <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Info">Learn more</a></p>
            </div>
        </div>
    </div>

    <hr />

</section>

<!-- ========== END OF FOOD AND DRINK SECTION ========== -->