@{
    ViewBag.Title = "Food and Drink";

}

<header class="h">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="responsive-img" src="http://i.imgur.com/R8Xyf8p.jpg" alt="Chania">
            </div>

            <div class="item">
                <img class="responsive-img" src="http://i.imgur.com/G88mnUW.jpg" alt="Chania">
            </div>

            <div class="item">
                <img class="responsive-img" src="http://i.imgur.com/lQRCV4J.jpg" alt="Flower">
            </div>

            <div class="item">
                <img class="responsive-img" src="http://i.imgur.com/ZDOOh7N.jpg" alt="Flower">
            </div>
        </div>
    </div>
</header>

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="sadrzaj">
        <h3>@ViewBag.Message</h3>
        <p align="justify">
            Here we need to include all of the restaurants, local caffee shops, our best picks where to drink and eat.
        </p>
    </div>
</div>

<br />

<section id="FoodAndDrink">
    <div class="row">
        <div class="col-md-4">
            <h4 align="center">@ViewBag.Message1</h4>
            <p align="justify">
                <img class="img-responsive center-block" src="http://mw2.google.com/mw-panoramio/photos/medium/40860307.jpg" />
                Add little information about this place.
            </p>
            <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Info">Learn more &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h4 align="center">@ViewBag.Message2</h4>
            <img class="img-responsive center-block" src="http://hotel-navigator.ba/images/hoteli/630_400/casablanca_gora_1376426063.jpg" />
            <p align="justify">Add a little information about this place.</p>
            <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Info">Learn more &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h4 align="center">@ViewBag.Message3</h4>
            <img class="img-responsive center-block" src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11266617_1480812462215956_1283968584_n.jpg" />
            <p align="justify">Add a little information about this place.\.</p>
            <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Info">Learn more &raquo;</a></p>
        </div>
    </div>

    <!-- ========== END OF ROW ONE ========== -->
    <!-- ========== ROW TWO ========== -->

    <hr />

    <div class="row">
        <div class="col-md-6">
            <div class="card-panel white lighten-5 z-depth-1">
                <h4 align="center">@ViewBag.Message4</h4>
                <img class="img-responsive center-block" src="https://scontent-mxp1-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/11659358_865613526819427_7026179044602191014_n.jpg?oh=4d7963a0d284f462156d79b7906942d8&oe=572B7E37" />
                <p align="justify">Add a little information about this place.</p>
                <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Info">Learn more &raquo;</a></p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card-panel white lighten-5 z-depth-1">
                <h4 align="center">@ViewBag.Message5</h4>
                <img class="img-responsive center-block" src="http://www.indeks.ba/core/tmp/upload/images/gorazde_02_04__022.jpg" />
                <p align="justify">Add a little information about this place.</p>
                <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Info">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</section>
<!-- ========== END OF FOOD AND DRINK SECTION ========== -->
