@{
    ViewBag.Title = "Additional Info";
}

<!-- ========== SADRZAJ in CSS is created for material design purpose only ========== -->

<!-- ======== CAROUSEL =========-->

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
                <hgroup>
                    <h1>Welcome</h1>
                    <h3>For more infomation, click learn more</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" role="button">Learn more</button>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-2"></div>
            <div class="hero">
                <hgroup>
                    <h1>Explore</h1>
                    <h3>Explore region of Drinago with our help</h3>
                </hgroup>

                <form style="display: inline" action="http://drinago.azurewebsites.net/Home/Info" method="get">
                    <button class="btn btn-hero btn-lg" role="button">Learn more</button>
                </form>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-3"></div>
            <div class="hero">
                <hgroup>
                    <h1>Things to do?</h1>
                    <h3>Click on the dropdown menu, to learn more</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" role="button">See all features</button>
            </div>
        </div>
    </div>
</div>

<!-- ========= END OF CAROUSEL ========== -->

<div class="sadrzaj">
    <h3>@ViewBag.Message</h3>

    <p>For now, when users clicks on a button located on the frontpage, that button should take users here.</p>
    <p>
        Actually better idea is to create a new page for every category, for example:
        <ul>
            <li>When you click on Learn More button, it takes you to a new page, for example when you click on Learn more button located on Basic Info button, it should take you to a new page called Basic Info with more informations.</li>
        </ul>
    </p>
</div>

<hr>

<div class="sadrzaj">
    <h3>@ViewBag.Message2</h3>
    <p>For now, when users clicks on a button located on the frontpage, that button should take users here.</p>
    <p>
        Actually better idea is to create a new page for every category, for example:
        <ul>
            <li>When you click on Learn More button, it takes you to a new page, for example when you click on Learn more button located on Basic Info button, it should take you to a new page called Basic Info with more informations.</li>
        </ul>
        <img class="img-thumbnail" src="https://placeimg.com/1120/480/tech" />
    </p>
</div>

<hr>

<div class="sadrzaj">
    <h3>@ViewBag.Message3</h3>
    <hr />
    <p>For now, when users clicks on a button located on the frontpage, that button should take users here.</p>
    <p>
        Actually better idea is to create a new page for every category, for example:
        <ul>
            <li>When you click on Learn More button, it takes you to a new page, for example when you click on Learn more button located on Basic Info button, it should take you to a new page called Basic Info with more informations.</li>
        </ul>
        <img class="img-thumbnail" src="https://placeimg.com/1120/480/tech" />
    </p>
</div>

<hr>

<div class="sadrzaj">
    <h3>@ViewBag.Message4</h3>
    <hr />
    <p>For now, when users clicks on a button located on the frontpage, that button should take users here.</p>
    <p>
        Actually better idea is to create a new page for every category, for example:
        <ul>
            <li>When you click on Learn More button, it takes you to a new page, for example when you click on Learn more button located on Basic Info button, it should take you to a new page called Basic Info with more informations.</li>
        </ul>
        <img class="img-thumbnail" src="https://placeimg.com/1120/480/tech" />

    </p>
</div>

<hr>

<div class="sadrzaj">
    <h3>@ViewBag.Message5</h3>
    <hr />
    <p>For now, when users clicks on a button located on the frontpage, that button should take users here.</p>
    <p>
        Actually better idea is to create a new page for every category, for example:
        <ul>
            <li>When you click on Learn More button, it takes you to a new page, for example when you click on Learn more button located on Basic Info button, it should take you to a new page called Basic Info with more informations.</li>
        </ul>
        <img class="img-thumbnail" src="https://placeimg.com/1120/480/tech" />

    </p>
</div>
<hr>

<div class="sadrzaj">
    <h3>@ViewBag.Message6</h3>
    <hr />
    <p>For now, when users clicks on a button located on the frontpage, that button should take users here.</p>
    <p>
        Actually better idea is to create a new page for every category, for example:
        <ul>
            <li>When you click on Learn More button, it takes you to a new page, for example when you click on Learn more button located on Basic Info button, it should take you to a new page called Basic Info with more informations.</li>
        </ul>
        <img class="img-thumbnail" src="https://placeimg.com/1120/480/tech" />
    </p>
</div>
<hr>
<div class="sadrzaj">
    <h3>@ViewBag.Message7</h3>
    <hr />
    <p>For now, when users clicks on a button located on the frontpage, that button should take users here.</p>
    <p>
        Actually better idea is to create a new page for every category, for example:
        <ul>
            <li>When you click on Learn More button, it takes you to a new page, for example when you click on Learn more button located on Basic Info button, it should take you to a new page called Basic Info with more informations.</li>
        </ul>
        <img class="img-thumbnail" src="https://placeimg.com/1120/480/tech" />

    </p>
</div>

<hr>

<div class="sadrzaj">
    <h3>@ViewBag.Message8</h3>
    <hr />
    <p>For now, when users clicks on a button located on the frontpage, that button should take users here.</p>
    <p>
        Actually better idea is to create a new page for every category, for example:
        <ul>
            <li>When you click on Learn More button, it takes you to a new page, for example when you click on Learn more button located on Basic Info button, it should take you to a new page called Basic Info with more informations.</li>
        </ul>
        <img class="img-thumbnail" src="https://placeimg.com/1120/480/tech" />
    </p>
</div>

